{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "angular": false,
    "module": false,
    "inject": false,
    "document": false
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "no-console": 0,
    "no-unused-vars": [
      "warn",
      {
        "args": "all"
      }
    ],
    "react/jsx-uses-vars": ["error"]
  }
}
