body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App,
.login-view,
.register-view,
.list-view,
.map-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.vw100 {
  width: 100vw;
}
.vh100 {
  height: 100vh;
}

hr {
  border: rgba(black, 0.15) solid 0;
  border-bottom-width: 1px;
  margin-top: $spacer/2;
  margin-bottom: $spacer/2;
}

i {
  &.left {
    margin-right: $spacer/2;
  }
  &.right {
    margin-left: $spacer/2;
  }
}

// body {
//   overflow-y: scroll;
// }
// .container {
//   position: relative;
// }
