.App {
  width: 100vw;
  height: 100vh;
}

.logo-nav {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;

  // temp
  background-color: #fff;
  padding: 10px;
}

// body {
//   overflow-y: scroll;
// }
// .container {
//   position: relative;
// }
