.App {
  width: 100vw;
  height: 100vh;
}

.logo-nav {
  position: absolute;
  top: 65px;
  left: $spacer;

  .logo {
    width: 24px;
    height: 24px;
    background-color: #000;
    position: absolute;
    top: -36.5px;
    left: $spacer;
    z-index: 50;
    cursor: pointer;
  }

  nav {
    position: relative;
    z-index: 1;
    // temp
    background-color: #fff;
    padding: 10px;
  }
}

hr {
  border: rgba(black, 0.15) solid 0;
  border-bottom-width: 1px;
  margin-top: $spacer/2;
  margin-bottom: $spacer/2;
}

// body {
//   overflow-y: scroll;
// }
// .container {
//   position: relative;
// }
