.card {
  .card-title-area {
    border-radius: 2px 2px 0 0;
    display: flex;
    align-items: center;
    position: relative;
    padding: $card-padding / 2;
  }
  .card-title-area.with-fab {
    padding-right: $spacer * 2.5;
  }
}

.place-card {
  @include txPlaceCardStart();
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: $lessBouncy;

  @media screen and (max-width: 540px) {
    margin-left: -$spacer * 0.75;
    margin-right: -$spacer * 0.75;
  }
}
