.add-current-place {
  background-color: #fff;
  border-radius: $button-radius;
  max-width: calc(100% - #{$spacer * 3.75}); // leave room for pegman button
  padding: $spacer;
  position: fixed;
  bottom: $spacer;
  right: $spacer/2;
  @include txGrowFadeStart();
}

.add-current-place__place-name {
  display: flex;
  align-items: center;
  font-weight: bold;
}
