// Fixed Action Button
.fab {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  ul {
    text-align: right;
    right: $spacer * 3.2;
    margin: 0;
    transform: translateY(50%);
    position: relative;
  }
  li {
    opacity: 0;
    transform: scale(0.2) translateX(25px);
    display: inline-block;
    margin: 0 $spacer/2 0 0;
    transition: $bouncy;
  }
  .btn-large + ul {
    right: 5rem;
  }

  .halfway-fab {
    right: 1rem;
  }

  .btn-floating {
    transition: $bouncy;
  }
}

.halfway-fab {
  &,
  &:hover,
  & ~ ul .btn-floating {
    box-shadow: 0 0 0 2px white;
  }
  &:hover,
  & ~ ul .btn-floating:hover {
    transform: scale(1.1);
  }
}

.collection .fab {
  position: relative;

  & > .btn {
    right: 0;
    bottom: auto;
  }
  & > ul {
    right: $spacer * 2.25;
    transform: none;
    width: auto;
  }
}
