// Fixed Action Button
.fab {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  ul {
    text-align: right;
    right: 3.5rem;
    margin: 0;
    transform: translateY(50%);
    position: relative;
    width: 500px;
  }
  li {
    opacity: 0;
    transform: scale(0.2) translateX(25px);
    display: inline-block;
    margin: 0 15px 0 0;
    transition: all 250ms cubic-bezier(0.5, -0.4, 0.5, 1.4);
  }
  .btn-large + ul {
    right: 5rem;
  }

  .halfway-fab {
    right: 1rem;
  }
}

.collection .fab {
  position: relative;

  & > .btn {
    right: 0;
    bottom: auto;
  }
  & > ul {
    right: $spacer * 2.25;
    transform: none;
    width: auto;
  }
}
