.floating-input {
  display: block;
  width: 100%;
  padding: 14px;
  line-height: 20px;
  height: $spacer * 3;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 transparent solid;
  border-radius: $button-radius;

  &::placeholder {
    color: color("grey", "base");
    opacity: 1;
  }
}
