.landing-view__scroll {
  height: calc(100vh - #{$spacer * 2.75});
  padding-bottom: calc(48px + #{$spacer});
  overflow-y: scroll;
}

.tech-logos {
  .tech-icon {
    height: $spacer * 2;
    padding-left: $spacer/4;
    padding-right: $spacer/4;
    width: $spacer * 2;
  }

  svg {
    height: auto;
    opacity: 0.75;
  }
  svg:hover {
    opacity: 1;
  }
}
