$header-height-mobile: $spacer * 2.5;
$header-height-desktop: $spacer * 3.5;

.list-view__header {
  height: $header-height-mobile;
  position: relative;
  z-index: 1;

  @media #{$medium-and-up} {
    height: $header-height-desktop;
  }
}

.list-view__list {
  height: calc(100vh - #{$header-height-mobile});
  padding-bottom: $spacer * 5;
  overflow-y: scroll;

  @media #{$medium-and-up} {
    height: calc(100vh - #{$header-height-desktop});
  }
}

.list-view__holder {
  display: grid;
  grid-column-gap: $spacer;
  grid-template-columns: 1fr;

  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media #{$extra-large-and-up} {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
