$header-height: $spacer * 3.5;

.list-view__header {
  height: $header-height;
  position: relative;
  z-index: 1;
}

.list-view__list {
  height: calc(100vh - #{$header-height});
  padding-bottom: $spacer * 5;
  overflow-y: scroll;
}

.list-view__holder {
  display: grid;
  grid-column-gap: $spacer;
  grid-template-columns: 1fr;

  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media #{$extra-large-and-up} {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
