.logo-nav {
  position: absolute;
  transition: $bouncy;
  transition-delay: 250ms;

  .logo,
  .menu-btn {
    width: 1.5 * $spacer;
    height: 1.5 * $spacer;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    cursor: pointer;

    i {
      font-size: 1.5 * $spacer;
      line-height: 1;
    }
  }

  nav {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: $spacer/2 0;
    min-width: $spacer * 10;
    border-radius: $button-radius;

    // for transition
    opacity: 0;
    transform: scale(0.2) translateY(-100px) translateX(-100px);
    transition: $bouncy;

    a,
    button {
      display: flex;
      align-items: center;
      padding: $spacer/2 $spacer $spacer/2 $spacer/2;
    }
  }
}

.logo-nav {
  top: $spacer;
  left: $spacer;

  nav {
    top: $spacer * 2;
  }
}

.map .logo-nav {
  top: $spacer * 1.25;
  left: $spacer * 1.25;

  @media #{$medium-and-up} {
    left: $spacer * 1.75;
    top: $spacer * 1.75;
  }

  nav {
    top: $spacer * 2.5;
    left: -$spacer * 0.75;
  }
}

.list .logo-nav {
  top: $spacer/2;
  left: $spacer/2;

  @media #{$medium-and-up} {
    left: $spacer;
    top: $spacer;
  }

  nav {
    top: $spacer * 2.5;
  }
}
