.modal {
  display: block;
  top: 10%;
  z-index: 1000;
  @include txGrowFadeStart();
}
.modal-overlay {
  cursor: not-allowed;
  display: block;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
