.modal {
  display: block;
  top: 50%;
  z-index: 99;
  @include txGrowFadeStart();

  @media #{$small-and-down} {
    width: calc(100% - #{$spacer});
  }

  & .modal-content {
    padding: $spacer $spacer 0;
  }
}
.modal-overlay {
  cursor: not-allowed;
  display: block;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  z-index: 98;
}
