.map-point {
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 150px;
  min-width: 100px;
  height: auto;
  padding: 0.5rem;
  border-radius: 0.25rem;
  position: absolute;
  top: -20px;
  left: 12px;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.map-icon {
  position: absolute;
  left: -24px;
  top: 0;
}
