.map-point {
  position: relative;
  max-width: 150px;
  min-width: 100px;
}

// icon size by default is 24x24px
$icon-size: 24px;

.map-point__text {
  background-color: rgba(255, 255, 255, 0.95);
  height: auto;
  padding: 0.5rem;
  border-radius: 2px;
  position: absolute;
  top: -$icon-size;
  left: $icon-size / 2;
  text-align: center;

  // for transition
  opacity: 0;
  transform: scale(0.2) translateX(-100px) translateY(-20px);
  transition: all 250ms cubic-bezier(0.5, -0.4, 0.5, 1.4);
}

.map-point__icon {
  // position to top right corner
  position: absolute;
  left: -$icon-size / 2;
  top: -$icon-size;
  z-index: 1;
}
