.map-point {
  position: relative;
  max-width: 150px;
  min-width: 125px;
  cursor: pointer;
}

// icon size by default is 24x24px
$icon-size: 24px;

.map-point__text {
  background-color: rgba(255, 255, 255, 0.95);
  height: auto;
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 2px;
  position: absolute;
  top: -$icon-size;
  left: $icon-size * 0.6;
  text-align: center;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent rgba(255, 255, 255, 0.95) transparent transparent;
  }

  // for transition
  opacity: 0;
  transform: scale(0.2) translateX(-100px) translateY(-20px);
  transition: all 250ms cubic-bezier(0.5, -0.4, 0.5, 1.4);
}

.map-point__icon {
  // position to top right corner
  position: absolute;
  left: -$icon-size / 2;
  top: -$icon-size;
  z-index: 1;
}
