.slide-appear,
.slide-appear-done,
.slide-enter,
.slide-enter-done,
.slide-exit,
.slide-exit-done {
  position: absolute;
  top: 0;
  width: 100%;
}

.slide-appear {
  transform: translateY(100px);
  opacity: 0;
}
.slide-appear.slide-appear-active {
  @include txSlideAppearActive();
}

.slide-enter {
  transform: translateY(100px);
}
.slide-enter.slide-enter-active {
  @include txSlideAppearActive();
}

.slide-exit {
  opacity: 1;
  transform: translateY(0);
}
.slide-exit.slide-exit-active {
  opacity: 0;
  transform: translateY(100px);
  transition: all 500ms cubic-bezier(0.175, 0.19, 0.165, 1.255);
}

.fadeHalf,
.fadeHalf-exit-done {
  opacity: 0;
}
.fadeHalf-appear-done,
.fadeHalf-enter-done {
  opacity: 0.5 !important;
}

.growFade {
  @include txGrowFadeStart();
}
.growFade-appear-done,
.growFade-enter-done {
  opacity: 1 !important;
  transform: scale(1) translateX(0) translateY(0) !important;

  &.with-height {
    max-height: 5rem;
  }
}

.place-card-enter-done {
  margin-top: $spacer;
  max-height: $spacer * 15;
  opacity: 1;
  transform: scale(1);
}
.place-card-exit-done {
  @include txPlaceCardStart();
}

.turn {
  transition: transform 333ms cubic-bezier(0.5, -0.4, 0.5, 1.4);
}
.zero {
  transform: rotate(0deg);
}
.ninety {
  transform: rotate(90deg);
}
.one-eighty {
  transform: rotate(180deg);
}
.two-seventy {
  transform: rotate(270deg);
}
.three-sixety {
  transform: rotate(1turn);
}
