.slide-appear,
.slide-appear-done,
.slide-enter,
.slide-enter-done,
.slide-exit,
.slide-exit-done {
  position: absolute;
  top: 0;
  width: 100%;
}

.slide-appear {
  transform: translateY(100px);
  opacity: 0;
}
.slide-appear.slide-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms cubic-bezier(0.175, 0.19, 0.165, 1.255);
}

.slide-enter {
  transform: translateY(100px);
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms cubic-bezier(0.175, 0.19, 0.165, 1.255);
}

.slide-exit {
  opacity: 1;
  transform: translateY(0);
}
.slide-exit.slide-exit-active {
  opacity: 0;
  transform: translateY(100px);
  transition: all 500ms cubic-bezier(0.175, 0.19, 0.165, 1.255);
}

.growFade {
  opacity: 0;
  transform: scale(0.2) translateX(25px);
  transition: all 250ms cubic-bezier(0.5, -0.4, 0.5, 1.4);
}
.growFade-appear-done,
.growFade-enter-done {
  opacity: 1 !important;
  transform: scale(1) translateX(0) translateY(0) !important;

  &.with-height {
    max-height: 5rem;
  }
}
// .growFade-exit-done {
//   opacity: 0;
//   transform: scale(0.2) translateY(50px);
// }

.turn {
  transition: transform 333ms cubic-bezier(0.5, -0.4, 0.5, 1.4);
}
.zero {
  transform: rotate(0deg);
}
.ninety {
  transform: rotate(90deg);
}
.one-eighty {
  transform: rotate(180deg);
}
.two-seventy {
  transform: rotate(270deg);
}
.three-sixety {
  transform: rotate(1turn);
}
